<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img class="static" src="" alt="">
                <div class="brand-name">ErgoFinance</div>
            </a>
        </div>
        
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-4">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="token.html">Token</a>
                    </li>

                    <li>
                        <a href="roadmap.html">Roadmap</a>
                    </li>

                    <li>
                        <a href="https://ergofinance.medium.com/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter -->
            <div class="column is-4">
                <div class="subscribe-block">
                    <form>
                        <!-- Field -->
                        <div class="control">
                            <!-- Special input -->
                            <p>
                            <ul>
                                <div className="padding-top:15px flex flex-col">
                                    <a
                                    href="https://twitter.com/ErgoFinance" target="_blank"
                                    className="social-icon button flex flex-col"
                                    width="38px"
                                    height="38px"
                                >
                                    <img width="40px" height="40px" src="/img/twitter.svg" alt=""></img>
                                </a>
                                <a
                                href="" target="_blank"
                                className="social-icon button flex flex-col"
                                width="38px"
                                height="38px"
                            >
                                <img width="38px" height="38px" src="/img/instagram.svg" alt=""></img>
                            </a>
                            <a
                            href="" target="_blank"
                            className="social-icon button flex flex-col"
                            width="50px"
                            height="50px"
                        >
                            <img width="44px" height="44px" src="/img/etherscan.svg" alt=""></img>
                        </a>
                        <a
                        href="" target="_blank"
                        className="social-icon button flex flex-col"
                        width="50px"
                        height="50px"
                    >
                        <img width="40px" height="40px" src="/img/coinmarketcap.svg" alt=""></img>
                    </a>
                <a
                href="https://ergofinance.medium.com/" target="_blank"
                className="social-icon button flex flex-col"
                width="50px"
                height="50px"
            >
                <img width="40px" height="40px" src="/img/medium.svg" alt=""></img>
            </a>
                                </div>
                                </p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Links group -->
            <div class="column is-4">
                <ul class="footer-links">
                    <li>
                        <a href="https://github.com/ErgoFinance">GitHub</a>
                    </li>

                    <li>
                        <a href="docs.ergofinance.org">Docs</a>
                    </li>

                    <li>
                        <a href="#">BugBounty</a>
                    </li>

                    
                    <li>
                        <a href="termsofuse.html">Terms Of Use</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <p class="k-copyright">© 2022 | ErgoFinance. All Rights Reserved</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Designed and Coded by ErgoFinance</p>
    </div>
    
    <!-- Absolute image -->
    <img class="solar-system" src="/img/bg/solar.svg" alt="">
</footer>